- var article_url = "http://theparentcue.org/resolving-to-endure/";
- var article_img_url = "http://theparentcue.org/wp-content/uploads/2014/05/resolvingtoendure.jpg";
- var article_title = "RESOLVING TO ENDURE";
