- var article_url = "http://theparentcue.org/three-mealtime-questions-that-change-everything-including-the-quality-of-your-food/";
- var article_img_url = "http://theparentcue.org/wp-content/uploads/2016/06/ThinkstockPhotos-495571535.jpg";
- var article_title = "THREE MEALTIME QUESTIONS THAT CHANGE EVERYTHING (INCLUDING THE QUALITY OF YOUR FOOD)";
