- var article_url = "http://theparentcue.org/how-to-respond-when-your-child-asks-you-questions-you-cant-answer/";
- var article_title = "HOW TO RESPOND WHEN YOUR CHILD ASKS YOU QUESTIONS YOU CAN’T ANSWER";
- var article_blurb = "Kids have a natural curiosity about the world and the way it works.  Sometimes they ask questions we can answer and at other times, they ask questions that, at least inwardly, give us a deer in the headlights look.  How we answer those questions can either shut down their curisity or help them grow their faith through it. Here is some helpful tips on how to answer those difficult questions.";
- var article_img_url = "http://theparentcue.org/wp-content/uploads/2016/02/ThinkstockPhotos-478421960-e1454872296650.jpg";
