- var headerimage = "http://www.firstmethodistgrapevine.org/Content/10664/family/deepblueteachers.png"
- var lessontitle = "Peter Rocks!: Peter and Tabitha";
- var BibleStory = "Acts 9:36-43";
- var AnchorPoint = "Like Peter, we can tell the good news about Jesus.";
- var MemoryVerse = "I tell you that you are Peter. And I’ll build my church on this rock.<br>Mattew 16:18";
- var lessonLeaderGuide = "http://media.covumc.com//Sunday%20School/Deep%20Blue/Spring%202017/Unit%203%20-%20Peter%20Rocks/2%20-%20Peter%20and%20Tabitha/2%20-%20Peter%20and%20Tabitha%20-%20LG.pdf";
- var lessonReproducibles = "http://media.covumc.com//Sunday%20School/Deep%20Blue/Spring%202017/Unit%203%20-%20Peter%20Rocks/2%20-%20Peter%20and%20Tabitha/2%20-%20Peter%20and%20Tabitha%20-%20RP.pdf";
- var parentsguide = "http://media.covumc.com//Sunday%20School/Deep%20Blue/Spring%202017/Unit%203%20-%20Peter%20Rocks/2%20-%20Peter%20and%20Tabitha/2%20-%20Peter%20and%20Tabitha%20-%20PG.pdf";
- var lessonVideo
- var lessonurl = BibleStory.replace(":", "%3a");
- var lessonurl = lessonurl.replace(" ", "%20");
