.email-background {
  padding: 10px;
}
.email-container,
.pre-header {
  max-width: 600px;
  background-color: #fff;
  font-family: sans-serif;
  margin: 0 auto;
}
.pre-header {
  color: #fff;
  font-size: 2px;
}
img {
  width: 100%;
  border-radius: 10px;
  box-shadow: 2px 2px 15px #88792f;
}
.hr {
  border-bottom: 5px solid #C5B358;
  margin: -20px auto 10px;
  width: 90%;
  float: left;
}
.button {
  text-decoration: none;
  border: 1 solid #C5B358;
  color: white;
  background-color: #C5B358;
  text-align: center;
  border-radius: 10px;
  padding: 10px 30px;
  font-weight: bold;
  box-shadow: 2px 2px 10px #161408;
}
.button:hover {
  background-color: #ae9b3c;
  box-shadow: 0px 0px 0px;
}
.accent {
  color: #C5B358;
}
table {
  font-size: 18px;
}
